.btn {
    border-radius: 1rem;
    font-family: "roboto-regular";
    padding: 4px 8px;
    border: none;
    background-color: transparent;
}

.btn-outline {
    border: 1px solid rgba(0, 0, 0, 0.529);
}
